--- 
layout: default 
title: Werts' blog
---
{% include header.html %}

<div class="index">
	<div class="terminal">
		<div class="heading">
			<h4 class="title"><i class="icon icon-light"></i> 最新提交</h4>
			<span>{{ paginator.page }}/{{ paginator.total_pages }}</span>
			<div class="action">
				{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}" class="before icon icon-left" title="上一页"></a>
				{% endif %}
				{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}" class="next icon icon-right" title="下一页"></a>
				{% endif %}
			</div>
		</div>
		<div class="content fixed" id="content"></div>
	</div>
</div>
{% include dock.html %}

<div class="hide" id="posts">{% for post in paginator.posts %}{"title":"{{ post.title }}","tags":"{{ post.tags }}","url":"{{ post.url }}","time":"{{ post.date }}"}n+br{% endfor %}</div>
<script src="/js/libs/type-core.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/index.js" type="text/javascript" charset="utf-8"></script>