.index{
	height: 100%;
	width: 100%;
	background-image: url(/imgs/bg.jpg);
	background-size: cover;
	overflow: hidden;
	.terminal{
		.content{
			&.fixed{
				overflow-x: hidden;
				overflow-y: auto;
				max-height: 686px;
			}
		}
	}
}