.posts{
	height: 100%;
	width: 100%;
	background-image: url(/imgs/bg.jpg);
	background-size: cover;
	overflow: hidden;
	ul{
		list-style: initial;
	}
	ol{
		list-style-type: decimal;
	}
	.content{
		position: relative;
		&::after{
			content: '\e622';
			font-family: iconfont!important;
			font-size: 32px;
			position: absolute;
			right: 10px;
			top: 50%;
			line-height: 1.5;
			display: none;
			transform: translateY(-50%);
		}
		&:hover::after{
			display: block;
		}
		.content-wrap{
			padding-right: 57px;
			.page-content{
				padding: 12px;
			}
			.excerpt{
				padding: 12px;
				h4{
					position: relative;
					padding: 12px 0;
					margin-bottom: 8px;
					&::after{
						content: '';
						width: 48px;
						height: 2px;
						background-color: #00FFFF;
						position: absolute;
						left: 0;
						bottom: 5px;
					}
				}
			}
		}
	}
	
	.cmt-title{
		margin-top: 36px;
		margin-bottom: 12px;
		width: 100%;
		text-align:center;
		&::after, &::before{
			content: '';
			display: inline-block;
			width: 18px;
			height: 2px;
			background-color: #00FFFF;
			vertical-align: middle;
			margin: 0 12px;
		}
	}
	
	#gitalk-container{
		.gt-container{
			.gt-link{
				border-bottom-color: #00FFFF;
			}
			a{
				color: #00FFFF;
			}
			.gt-svg svg{
				fill: #00FFFF;
			}
			.gt-header-controls-tip{
				color: #00FFFF;
			}
			.gt-btn-preview{
				color: #00FFFF;
				background-color: #fff;
			}
			.gt-btn{
				color: #00FFFF;
				background-color: transparent;
				border: 1px solid #00FFFF;
			}			
		}
	}
	
	table{
		width: 100%;
		border-collapse: collapse;
		text-align: left;
		font-size: 14px;
		font-variant: tabular-nums;
		line-height: 1.5;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
		clear: both;
		border:1px solid #F1F1F1;
		tr{
			th{
				background: #fafafa;
				text-align: left;
				color: rgba(0,0,0,.85);
				font-weight: 500;
				border: 1px solid #191919;
				padding: 8px 16px;
				&:first-child{
					border-left-color: #F1F1F1;
				}
				 &:last-child{
					 border-right-color: #F1F1F1;
				 }
			}
			td{
				padding: 8px 16px;		
				border:1px solid #F1F1F1;
			}
		}
	}
}