.posts{
	height: 100%;
	width: 100%;
	background-image: url(/imgs/bg.jpg);
	background-size: cover;
	overflow: hidden;
	ul{
		list-style: initial;
	}
	ol{
		list-style-type: decimal;
	}
	.content{
		position: relative;
		&::after{
			content: '\e622';
			font-family: iconfont!important;
			font-size: 32px;
			position: absolute;
			right: 10px;
			top: 50%;
			line-height: 1.5;
			display: none;
			transform: translateY(-50%);
		}
		&:hover::after{
			display: block;
		}
		.content-wrap{
			padding-right: 57px;
			.page-content{
				padding: 12px;
			}
			.excerpt{
				padding: 12px;
				h4{
					position: relative;
					padding: 12px 0;
					margin-bottom: 8px;
					&::after{
						content: '';
						width: 48px;
						height: 2px;
						background-color: #00FFFF;
						position: absolute;
						left: 0;
						bottom: 5px;
					}
				}
			}
		}
	}
}