---
layout: default
---

{% include header.html %}

<div class="posts">
	<div class="terminal">
		<div class="heading">
			<h4 class="title"><i class="icon icon-account"></i> 在这里找到关于我的一小部分信息</h4>
			<div class="action">
				<a href="javascript:history.go(-1)" class="before icon icon-left" title="返回"></a>
			</div>
		</div>
		<div class="content fixed">
			<div class="content-wrap">
				<div class="content-main">
					<div class="page-content">{{ content }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include dock.html %}