---
layout: default
---

{% include header.html %}

<div class="posts">
	<div class="terminal">
		<div class="heading">
			<h4 class="title"><i class="icon icon-light"></i> 发表时间： {{ page.date | date: "%Y-%m-%d" }}</h4>
			<div class="action">
				<a href="javascript:history.go(-1)" class="before icon icon-left" title="返回"></a>
			</div>
		</div>
		<div class="content fixed">
			<div class="content-wrap">
				<div class="content-main">
					<div class="excerpt">
						<h4>摘要</h4>
						<p>{{ page.excerpt }}</p>
					</div>
					<div class="page-content">{{ page.content }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include dock.html %}