<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8"> {% include meta.html %}
		<meta name="Description" content="{{page.desc}}-{{site.description}}" />
		<title>{{page.title}}</title>
	</head>

	<body class="bg">
		<div class="l-i-t">
			<a href="/">Start</a>
			<div class="l-i-avatar">
				<img src="/assets/img/pro.png" />
			</div>
			<p class="l-i-name">{{site.title}}</p>
		</div>
		<div class="l-i">
			{% include categories.html %}
			<div class="l-i-m">
				<p class="cat">{{page.title}}</p>
				<div class="detail">
					{{content}}
				</div>
			</div>
		</div>
		<div class="l-i-bg"></div>
	</body>

</html>